.single-country {
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
}

.single-country:first-of-type {
  padding-top: 0;
}
.single-country:last-of-type {
  border-bottom: none;
}

.single-country h3.title {
  margin-bottom: 0.25rem;
}

.single-country h2.title small {
  font-size: 1rem;
  vertical-align: middle;
}

.single-country h3.title small {
  font-size: 0.75rem;
  vertical-align: middle;
}

.tooltip::before {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.single-bar-chart {
  width: 100%;
}

.country-code {
  display: none;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 0.8rem;
}

.bar {
  font-family: 'Ubuntu Mono', monospace;
  display: inline-block;
  color: #fff;
  text-align: center;
  height: 25px;
  line-height: 26px;
  font-size: 0.9rem;
}

.bar:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .bar {
    font-size: 0.75rem;
    line-height: 28px;
  }
}

.seats-chart, .votes-chart {
  margin-bottom: 1rem;
  background-color: #ddd;
  height: 25px;
}

body.comparison .title.is-5, body.comparison .title.is-3 {
  display: none;
}

body.comparison .single-country {
  padding: 0;
  border-bottom: 0px solid #ccc;
}

body.only-votes .single-country .bar {
  height: 10px;
  line-height: 10px;
  font-size: 0.5rem;
  color: transparent;
}

body.comparison .single-country .seats-chart, body.comparison .single-country .votes-chart {
  margin-bottom: 0.25rem;
  background-color: unset;
  height: 15px;
  width: 90%;
}

body.comparison .country-code {
  display: inline-block;
  margin-right: 0.5rem;
  max-width: 9.5%;
}

body.only-votes .single-country .seats-chart {
  display: none;
}

body.only-seats .single-country .votes-chart {
  display: none;
}